<!DOCTYPE html />
<html lang="en">
<head>
	<title>SmartShower</title>
	<link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">

</head>
<body>
	<div class="container">
		<div class="header">
			<nav>
				<ul class="nav nav-pills pull-right">
					<li role="presentation"><a href="home">Home</a>
					</li>
					<li role="presentation"><a href="showSignIn">Sign In</a>
					</li>
					<li role="presentation" class="active"><a href="showSignUp">Sign Up</a>
					</li>
			</nav>
			<h3 class="text-muted">Smart Shower!</h3>
		</div>
		
		<div class="jumbotron">
			<h1>Smart Shower App</h1>
			<form class="form-signin" action="/register" method="POST">
				<!--get id from session obj? -->
				<input type="hidden" name="last_id" value="{{last_id}}">
				<button class="btn btn-lg btn-primary btn-block" type="submit">Register earliest event!</button>
			</form>
		</div>

		<footer class="footer">
			<p>&copy; 741 inc.</p>
		</footer>
	</div>
</body>
</html>

